<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5" ?>
<plugin>
  <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
    <delegateCommandHandler class="com.datho7561.core.internal.SampleDelegateCommandHandler">
      <command id="com.datho7561.samplecommand" />
    </delegateCommandHandler>
  </extension>
</plugin>
